#container {
	width:944px;
    position: relative;
}
#slides .next {
	position:absolute;
	top:103px;
	right:-1px;
	width:24px;
	height:50px;
	display:block;
	z-index:101;
}
#slides .prev{
    position:absolute;
    top:103px;
    left: 0px;
    width:24px;
    height:50px;
    display:block;
    z-index:101;
}
.slides_container {
	width:944px;
	height:284px;
	overflow:hidden;
    background-color: #aabbd8;
	position:relative;
}
.pagination {
    margin-top: -10px;
    width:100px;
    position: absolute;
    right: 0px;
    bottom: 10px;
    z-index: 999;
  }
.pagination li {
	float:left;
	margin:0 1px;
}

.pagination li a {
	display:block;
	width:14px;
	height:2px;
	padding-top:12px;
	background-image:url(../img/pagination.png);
	background-position:0 0;
	float:left;
	overflow:hidden;
}
.pagination li.current a {
	background-position:0 -17px;
}
a:link,a:visited {
	text-decoration:none;
}
a:hover,a:active {
	text-decoration:underline;
}